#parent{
    /* border: 5px solid red; */
    padding: 20px;
    width: 50%;
    margin: 100px;
    position: absolute;

 }

#div1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: inline-block;  
    position: relative;
    z-index: 3;

    }

#div2{
    width: 100px;
    height: 100px;   
    background-color: bisque;
    display: inline-block;
    position: relative;
    top : 50px;
    left: -50px;
    z-index: 2;
   
    }

#div3{
    width: 100px;
    height: 100px;   
    background-color: #57a165;
    display: inline-block;
    position: relative;
    top : 100px;
    left: -100px;
    z-index: 1;
    }
