ul{
    list-style-type: square;
    /* list-style-image: url("https://tinypng.com/images/social/website.jpg") ; */
}

ol{
    list-style-type: decimal-leading-zero;
}
li{
    list-style-position: inside;
    border: 1px solid black;
}