/* position in css
1. static (default) - no effect on element-normal floq
2. relative
3. absolute
4. fixed
5. sticky
 */

 #parent{
    border: 1px solid red;
    padding: 20px;

 }

#div1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: inline-block;

    }

#div2{
    width: 100px;
    height: 100px;   
    background-color: bisque;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50px;
    }

#div3{
    width: 100px;
    height: 100px;   
    background-color: #57a165;
    display: inline-block;
    }

