p{
    color: purple;
    font-size: 35px;
    /* font-style: italic; */
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.5;  
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 3px 3px 4px rgb(94, 94, 227);
    background-color: rgb(203, 190, 190);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;

}